In [7]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [8]:
data =['peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [9]:
data = ['peter', 'Paul', None, 'Mary', 'gUIDO']
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [10]:
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     Mary
4    gUIDO
dtype: object

In [11]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

In [12]:
monte = pd.Series(['Graham Chapman', 'John Clesse', 'Terry Gilliam',
                  'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [13]:
monte.str.lower()

0    graham chapman
1       john clesse
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [14]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [15]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [16]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Clesse]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [17]:
monte.str.extract('([A-Za-z])')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

0    G
1    J
2    T
3    E
4    T
5    M
dtype: object

In [18]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [19]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [20]:
monte.str.split().str.get(-1)

0    Chapman
1     Clesse
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [21]:
full_monte = pd.DataFrame({'name': monte, 
                         'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']})
full_monte

    info            name
0  B|C|D  Graham Chapman
1    B|D     John Clesse
2    A|C   Terry Gilliam
3    B|D       Eric Idle
4    B|C     Terry Jones
5  B|C|D   Michael Palin

In [22]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

In [23]:
!curl -0 http://openrecipes.s3.amazonaws.com/recipeitems-latest.json.gz
!gunzip recipeitems-latest.json.gz

� 3[          

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    20  100    20    0     0     30      0 --:--:-- --:--:-- --:--:--    30
'gunzip' は、内部コマンドまたは外部コマンド、
操作可能なプログラムまたはバッチ ファイルとして認識されていません。

In [24]:
try:
    recipes = pd.read_json('recipeitems-latest.json')
except ValueError as e:
        print('ValueError:', e)

ValueError: Expected object or value

In [25]:
with open('recipeitems-latest.json') as f:
    line = f.readline()
    pd.read_json(line).shape

FileNotFoundError: [Errno 2] No such file or directory: 'recipeitems-latest.json'