In [1]:
import numpy as np
rng = np.random.RandomState(42)
x = rng.rand(1000000)
y = rng.rand(1000000)
%timeit x + y

3.62 ms ± 115 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [2]:
%timeit np.fromiter((xi + yi for xi, yi in zip(x, y)), dtype=x.dtype, count=len(x))

190 ms ± 1.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [3]:
mask = (x > 0.5) & (y < 0.5)

In [5]:
tmp1 = (x > 0.5)
tmp2 = (y < 0.5)
mask = tmp1 & tmp2

In [6]:
import numexpr
mask_numexpr = numexpr.evaluate('(x > 0.5) & (y < 0.5)')
np.allclose(mask, mask_numexpr)

True

In [11]:
import pandas as pd
nrows, ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols)) 
                      for i in range(4))

In [12]:
%timeit df1 + df2 + df3 + df4

94.5 ms ± 2.36 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [13]:
%timeit pd.eval('df1 + df2 + df3 + df4')

43.2 ms ± 1 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [14]:
np.allclose(df1 + df2 + df3 + df4, 
            pd.eval('df1 + df2 + df3 + df4'))

True

In [16]:
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3))) for i in range(5))

In [21]:
result1 = -df1 * df2 / (df3 + df4) - df5'
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')
                  np.allclose(result1, result2)

SyntaxError: EOL while scanning string literal (<ipython-input-21-54f98eba713f>, line 1)

In [22]:
result1 = (df1 < df2) & (df2 <= df3) & (df3 != df4)
result2 =pd.eval('df1 < df2 <= df3 !=df4')
np.allclose(result1, result2)

True

In [24]:
result1 = (df1 < 0.5) & (df2 < 0.5) | (df3 < df4)
result2 = pd.eval('(df1 < 0.5) & (df2 < 0.5) | (df3 < df4)')
np.allclose(result1, result2)

True

In [29]:
result3 = pd.eval('(df1 < 0.5) and (df2 < 0.5) or (df3 < df4)')
np.allclose(result1, result3)

True

In [31]:
result1 = df2.T[0] + df3.iloc[1]
result2 = pd.eval('df2.T[0] + df3.iloc[1]')
np.allclose(result1, result2)

True

In [32]:
df = pd.DataFrame(rng.rand(1000, 3), columns=['A', 'B', 'C'])
df.head()

          A         B         C
0  0.375506  0.406939  0.069938
1  0.069087  0.235615  0.154374
2  0.677945  0.433839  0.652324
3  0.264038  0.808055  0.347197
4  0.589161  0.252418  0.557789

In [36]:
result1 = (df['A'] + df['B']) / (df['C'] - 1)
result2 = pd.eval('(df.A + df.B) / (df.C - 1)')
np.allclose(result1, result2)

True

In [37]:
result3 = df.eval('(A + B) / (C - 1)')
np.allclose(result1, result3)

True

In [38]:
df.head()

          A         B         C
0  0.375506  0.406939  0.069938
1  0.069087  0.235615  0.154374
2  0.677945  0.433839  0.652324
3  0.264038  0.808055  0.347197
4  0.589161  0.252418  0.557789

In [39]:
df.eval('D = (A + B) / C', inplace=True)
df.head

<bound method NDFrame.head of             A         B         C          D
0    0.375506  0.406939  0.069938  11.187620
1    0.069087  0.235615  0.154374   1.973796
2    0.677945  0.433839  0.652324   1.704344
3    0.264038  0.808055  0.347197   3.087857
4    0.589161  0.252418  0.557789   1.508776
5    0.573154  0.330581  0.144122   6.270634
6    0.210102  0.518596  0.569152   1.280322
7    0.406639  0.128631  0.160742   3.329994
8    0.020236  0.354904  0.067919   5.523342
9    0.784161  0.937668  0.490879   3.507645
10   0.932656  0.137548  0.248736   4.302567
11   0.084158  0.546133  0.235618   2.675060
12   0.362698  0.950754  0.274655   4.782188
13   0.058095  0.771863  0.915946   0.906121
14   0.643400  0.234982  0.655226   1.340579
15   0.967865  0.277742  0.987892   1.260874
16   0.110796  0.100477  0.561988   0.375939
17   0.707902  0.781147  0.479950   3.102509
18   0.502528  0.031194  0.878520   0.607524
19   0.921240  0.987053  0.609404   3.131411
20   0.576883  0.729118  0.431805   3.024512
21   0.897908  0.111918  0.119699   8.436374
22   0.912860  0.775162  0.202685   8.328301
23   0.952167  0.864614  0.580076   3.131968
24   0.168256  0.741320  0.660201   1.377726
25   0.861464  0.767712  0.845803   1.926187
26   0.426630  0.353436  0.431680   1.807049
27   0.021712  0.506511  0.887708   0.595042
28   0.691361  0.763330  0.287032   5.068040
29   0.593754  0.314066  0.559177   1.623493
..        ...       ...       ...        ...
970  0.654498  0.557631  0.626098   1.936005
971  0.410917  0.261874  0.660639   1.018396
972  0.922854  0.737672  0.578985   2.867996
973  0.447459  0.805157  0.153914   8.138409
974  0.775839  0.175786  0.901625   1.055456
975  0.389208  0.029318  0.790337   0.529552
976  0.119257  0.016513  0.518495   0.261854
977  0.361264  0.217931  0.538535   1.075500
978  0.377582  0.000829  0.581793   0.650421
979  0.655856  0.976856  0.963363   1.694805
980  0.746507  0.816330  0.609356   2.564735
981  0.622553  0.906804  0.189609   8.065861
982  0.457239  0.278989  0.996565   0.738767
983  0.721925  0.978439  0.939170   1.810497
984  0.154935  0.096410  0.795801   0.315839
985  0.126921  0.443428  0.859320   0.663721
986  0.256412  0.776488  0.408120   2.530872
987  0.656084  0.335239  0.743248   1.333772
988  0.381958  0.058112  0.917827   0.479469
989  0.806979  0.077630  0.693171   1.276178
990  0.765099  0.747568  0.278197   5.437400
991  0.265972  0.965123  0.689524   1.785428
992  0.441843  0.838942  0.219113   5.845327
993  0.927922  0.693555  0.580373   2.793856
994  0.132644  0.472306  0.778643   0.776928
995  0.082646  0.036840  0.439733   0.271723
996  0.008826  0.896578  0.723374   1.251641
997  0.907270  0.916424  0.978655   1.863469
998  0.758995  0.535431  0.347766   3.722122
999  0.369260  0.753815  0.280455   4.004473

[1000 rows x 4 columns]>

In [40]:
df.eval('D = (A - B) / C', inplace=True)
df.head

<bound method NDFrame.head of             A         B         C         D
0    0.375506  0.406939  0.069938 -0.449425
1    0.069087  0.235615  0.154374 -1.078728
2    0.677945  0.433839  0.652324  0.374209
3    0.264038  0.808055  0.347197 -1.566886
4    0.589161  0.252418  0.557789  0.603708
5    0.573154  0.330581  0.144122  1.683117
6    0.210102  0.518596  0.569152 -0.542023
7    0.406639  0.128631  0.160742  1.729526
8    0.020236  0.354904  0.067919 -4.927445
9    0.784161  0.937668  0.490879 -0.312719
10   0.932656  0.137548  0.248736  3.196594
11   0.084158  0.546133  0.235618 -1.960695
12   0.362698  0.950754  0.274655 -2.141074
13   0.058095  0.771863  0.915946 -0.779269
14   0.643400  0.234982  0.655226  0.623324
15   0.967865  0.277742  0.987892  0.698581
16   0.110796  0.100477  0.561988  0.018362
17   0.707902  0.781147  0.479950 -0.152609
18   0.502528  0.031194  0.878520  0.536510
19   0.921240  0.987053  0.609404 -0.107996
20   0.576883  0.729118  0.431805 -0.352555
21   0.897908  0.111918  0.119699  6.566386
22   0.912860  0.775162  0.202685  0.679371
23   0.952167  0.864614  0.580076  0.150934
24   0.168256  0.741320  0.660201 -0.868014
25   0.861464  0.767712  0.845803  0.110843
26   0.426630  0.353436  0.431680  0.169556
27   0.021712  0.506511  0.887708 -0.546124
28   0.691361  0.763330  0.287032 -0.250735
29   0.593754  0.314066  0.559177  0.500177
..        ...       ...       ...       ...
970  0.654498  0.557631  0.626098  0.154717
971  0.410917  0.261874  0.660639  0.225604
972  0.922854  0.737672  0.578985  0.319838
973  0.447459  0.805157  0.153914 -2.324012
974  0.775839  0.175786  0.901625  0.665525
975  0.389208  0.029318  0.790337  0.455363
976  0.119257  0.016513  0.518495  0.198157
977  0.361264  0.217931  0.538535  0.266154
978  0.377582  0.000829  0.581793  0.647572
979  0.655856  0.976856  0.963363 -0.333207
980  0.746507  0.816330  0.609356 -0.114584
981  0.622553  0.906804  0.189609 -1.499143
982  0.457239  0.278989  0.996565  0.178864
983  0.721925  0.978439  0.939170 -0.273129
984  0.154935  0.096410  0.795801  0.073542
985  0.126921  0.443428  0.859320 -0.368322
986  0.256412  0.776488  0.408120 -1.274323
987  0.656084  0.335239  0.743248  0.431679
988  0.381958  0.058112  0.917827  0.352839
989  0.806979  0.077630  0.693171  1.052192
990  0.765099  0.747568  0.278197  0.063018
991  0.265972  0.965123  0.689524 -1.013963
992  0.441843  0.838942  0.219113 -1.812303
993  0.927922  0.693555  0.580373  0.403821
994  0.132644  0.472306  0.778643 -0.436223
995  0.082646  0.036840  0.439733  0.104169
996  0.008826  0.896578  0.723374 -1.227237
997  0.907270  0.916424  0.978655 -0.009353
998  0.758995  0.535431  0.347766  0.642860
999  0.369260  0.753815  0.280455 -1.371181

[1000 rows x 4 columns]>

In [41]:
column_mean = df.mean(1)
result1 = df['A'] + column_mean
result2 = df.eval('A + @column_mean')
np.allclose(result1, result2)

True

In [42]:
result1 = df[(df.A < 0.5) & (df.B < 0.5)]
result2 = pd.eval('df[(df.A < 0.5) & (df.B < 0.5)]')
np.allclose(result1, result2)

True

In [43]:
reult2 = df.query('A < 0.5 and B < 0.5')
np.allclose(result1, result2)

True

In [44]:
Cmean =df['C'].mean()
result1 = df[(df.A < Cmean) & (df.B < Cmean)]
result2 = df.query('A < @Cmean and B < @Cmean')
np.allclose(result1, result2)

True