In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [3]:
pd._version_

AttributeError: module 'pandas' has no attribute '_version_'

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [5]:
data['b']

0.5

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [7]:
data[5]

0.5

In [8]:
population_dict = {'California':3833521, 'Texas':26448193, 'New York':19651127, 'Florida':19552860, 'Illinois':12882135}
population = pd.Series(population_dict)
population

California     3833521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [9]:
population['California']

3833521

In [10]:
population['California':'Illinois']

California     3833521
Florida       19552860
Illinois      12882135
dtype: int64

In [12]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [13]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [14]:
pd.Series({2:'a', 1:'b', 3:'c'})

1    b
2    a
3    c
dtype: object

In [15]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [21]:
area_dict = {'California':423967, 'Texas':695662, 'New York':141297, 'Florida':17032, 'Illinois':14995}
area = pd.Series(area_dict)
area

California    423967
Florida        17032
Illinois       14995
New York      141297
Texas         695662
dtype: int64

In [25]:
states = pd.DataFrame({'population':population, 'area':area})
states

              area  population
California  423967     3833521
Florida      17032    19552860
Illinois     14995    12882135
New York    141297    19651127
Texas       695662    26448193

In [26]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [27]:
states.columns

Index(['area', 'population'], dtype='object')

In [29]:
states['area']

California    423967
Florida        17032
Illinois       14995
New York      141297
Texas         695662
Name: area, dtype: int64

In [40]:
pd.DataFrame(population, columns=['population']) # (数値, 列名)

            population
California     3833521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

In [43]:
data = [{'a':i, 'b':2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [44]:
# 値が見つからない場合はNaNで埋める
pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [45]:
pd.DataFrame({'population':population, 'area':area})

              area  population
California  423967     3833521
Florida      17032    19552860
Illinois     14995    12882135
New York    141297    19651127
Texas       695662    26448193

In [47]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.971596  0.784875
b  0.219053  0.423721
c  0.165200  0.932805

In [49]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [50]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [52]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

ind[3

In [54]:
ind[1]

3

In [55]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [58]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [60]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [61]:
indA =pd.Index([1, 3, 5, 7, 9])
indB =pd.Index([2, 3, 5, 7, 11])

In [62]:
# 積集合
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [63]:
# 和集合
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [64]:
# 対称差
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')