In [2]:
import numpy as np
import pandas as pd

In [3]:
index = [('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas', 2000), ('Texas', 2010)]
populations = [338716248 ,37253956, 18976457, 19378102, 20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    338716248
(California, 2010)     37253956
(New York, 2000)       18976457
(New York, 2010)       19378102
(Texas, 2000)          20851820
(Texas, 2010)          25145561
dtype: int64

In [4]:
pop[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [5]:
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [6]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [7]:
pop = pop.reindex(index)
pop

California  2000    338716248
            2010     37253956
New York    2000     18976457
            2010     19378102
Texas       2000     20851820
            2010     25145561
dtype: int64

In [8]:
pop[: ,2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [9]:
pop.df = pop.unstack()
pop.df

                 2000      2010
California  338716248  37253956
New York     18976457  19378102
Texas        20851820  25145561

In [10]:
pop.df.stack()

California  2000    338716248
            2010     37253956
New York    2000     18976457
            2010     19378102
Texas       2000     20851820
            2010     25145561
dtype: int64

In [13]:
pop_df = pd.DataFrame({'total': pop, 'under18': [9267089, 9284094, 4687374, 4318033, 5906301, 6879014]})
pop_df

                     total  under18
California 2000  338716248  9267089
           2010   37253956  9284094
New York   2000   18976457  4687374
           2010   19378102  4318033
Texas      2000   20851820  5906301
           2010   25145561  6879014